:root {
  /*primary text*/
  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  /* gradient*/
  --Softviolet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);

  /*Neutral text*/
  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);

  /*dividers*/
  --Lightgrayishblue: hsl(240, 5%, 91%);

  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: linear-gradient(var(--Softviolet), var(--Softblue)) no-repeat;
  margin: 0px;
  height: 100vh;
}
hr {
  border: 0px;
  height: 1px;
  background: var(--Lightgrayishblue);
  margin-bottom: 20px;
}

.container {
  background: white;
  padding: 0px 18px 18px 18px;
  margin: 140px 20px 0px 20px;
  border-radius: 20px;
  box-shadow: 3px 8px 18px rgb(97, 96, 96);
}

.left-container {
  background-image: url("../img/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 220px 90px;
  height: 100px;
}
.image {
  height: 200px;
  background-image: url("../img/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 240px;
  position: relative;
  top: -105px;
}

/*
.left-container img {
  position: relative;
  bottom: 98px;
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
}
*/

.right-container {
  /*margin-top: -80px;*/
}
.right-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--Verydarkdesaturatedblue);
  font-size: 2.3em;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  cursor: pointer;
}

.item:hover span {
  color: var(--Softred);
}
.list span {
  color: var(--Darkgrayishblue);
}

p {
  color: var(--Darkgrayishblue);
  display: none;
  overflow: hidden;
  line-height: 1.5em;
  max-height: 0px;
  transition: max-height 0.4s ease-out;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 150px;
  }

  .left-container {
    border-radius: 1px solid green;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-size: 400px;
    height: 150%;
    position: relative;
    left: -100px;
  }
  .image {
    background-image: url("../img/illustration-box-desktop.svg"),
      url("../img/illustration-woman-online-desktop.svg");
    background-size: 150px, contain;
    background-position: left, top;
    height: 360px;
    top: -10px;
  }
}
